# Pin Werkzeug because it keeps breaking Flask!
Werkzeug==2.0.3

# Runtime dependencies
Flask
Flask-SQLAlchemy
psycopg2-binary
python-dotenv
Flask-Talisman
Flask-Cors

# Runtime tools
gunicorn
honcho

# Code quality
pylint
flake8
black

# Testing dependencies
nose
pinocchio
factory-boy
SQLAlchemy

# Code Coverage
coverage
codecov

# Utilities
httpie
